@font-face {
    font-family: 'Outfit';
    src: url('/static/fonts/Outfit/static/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Outfit', sans-serif;
}

  .slider {
    transition: background-color 0.3s;
  }
  .slider + span {
    transition: transform 0.3s;
  }
